<img src="/ATN/superman.png" alt="" class="superman">
<nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand text-light" href="/?page=1"><img width="50px" src="/ATN/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <form class="form-inline" action="/" method="POST">
              <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
              <button class="btn text-light search" type="submit">Search</button>
            </form> 
<% if(user) { %>
            <li class="nav-item"><a class="nav-link text-light">Welcome <%= user.name %></a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/logout">Logout</a></li>
<% } else { %>
            <li class="nav-item"><a class="nav-link text-light" href="/register">Register</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/login">Login</a></li>
<% } %>  
          </ul>
        </div>  
</nav><br>