<%- include('core/header') -%>
        <div class="inner-page-banner-area">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="breadcrumb-area">
                          <h1>Register</h1>
                          <ul>
            <li><a href="/store">Home</a> /</li>
                              <li>Register</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
<div class="login-registration-page-area">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                      <div class="login-registration-field">
                          <h2 class="cart-area-title"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;Register</h2>
            <p>If you already have an account with us, please login at the <a href="{{ route('login') }}">login page</a>.</p>
            <%- include('./layout/errors') -%>
            <form action="" method="post">
                              <label>Your Username *</label>
                              <input type="text" name="username" placeholder="Your username" />
                              <label>Email *</label>
              <input type="email" name="email" placeholder="Your email" />
              <label>Telephone *</label>
              <input type="tel" name="telephone" placeholder="Your telephone number" />
              <label>Password *</label>
              <input type="password" name="password" placeholder="Password" />
              <label>Password Confirm *</label>
                              <input type="password" name="passwordConf" placeholder="Confirm your assword" />
              <span><input type="checkbox" name="Term"/>I have read and agree to the <a href="#" class="agree"><b>Terms and Conditions</b></span>
              <br>
              <button class="btn-send-message disabled" type="submit">Register</button>
            </form>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <%- include('core/footer') -%>